.form{
    margin:10px auto 30px;
}

.form input {
    padding: 5px 10px;
    border:1px solid transparent;
    outline:none;
    transition:  border-color 0.4s ease;
    margin-bottom: 10px;
    width: 100%;
}

.form input:focus{
    border-color: aqua;
}