*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #111;
    color:white;
    padding: 30px 20px;
}

.main{
    margin: 0 auto;
    width: 500px;
}

.btn{
    display:block;
    padding: 10px;
    border:1px solid rgb(216, 0, 0);
    border-radius: 5px;
    background-color: aqua;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}
.btn:hover{
  background-color: black;
  color: white;
}
.btn1{
  text-align: left;
  width: 50%;
  display:block;
  padding: 10px;
  border:1px solid rgb(216, 0, 0);
  border-radius: 5px;
  background-color: aqua;
  margin: 0 auto;
  /* margin-bottom: 10px; */
}
.btn1:hover{
background-color: black;
color: white;
}

.title{
    text-align: center;
}

.linka{
  text-decoration: none;
  color:white;
}

.modale {
  overflow: visible;
    z-index: 1000;
    position: absolute;
    /* position: absolute ; */
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/536/252/non_2x/mystical-and-celestial-elements-with-stars-planets-moons-and-hands-cosmic-starry-zodiac-elements-occult-esoteric-design-vector.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid green;
    right: 0;
    top:0;
    /* top:19%;
    right:36%;; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.modaleBtn{
  margin: 0 auto;
  width: 500px;
}
.nazad{
  cursor: pointer;
  text-align: center;
}
.nazad:hover{
  scale: 1.1;
}

.animated{
    display: none;
}

.showed{
    display: block;
}


.flip-card {
    margin: 10px;
    background-color: transparent;
    width: 100%;
    height: 698px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 90%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    border-radius: 20px;
    border: none;
    background-image:url('https://i.ibb.co/MCF4PzJ/zxc.jpg');
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
  }

.images{
    width: 100%;
    height: 100%;
}

.CreateCarFileds{
    text-align: center;
}

.hid{
    display: none;
}

.sele{
  display:flex;
  justify-content: center;
}

.textHome{
  text-align: center;
}

.para{
  color:black;
  padding: 50px;
  padding-top: 25px;
  font-size: 20px;
}
.highText{
  color: black;
}

@media screen and (max-width:600px){
  .main{
    width: 100%;
  }
  .flip-card{
    height: 500px;
  }
  .modale{
    width: 100%;
    height: 100%;
    /* position: relative; */
    right: 0;
    margin: 0 auto;
  }
  .modaleBtn{
    width: 100%;
  }
  .btn1{
    height: 48px;
    display: flex;
    align-items: center;
  }
  .flip-card{
    margin: 0 auto;
    padding: 5px;
  }
  .highText{
    margin-top: 10px;
  }
  .para{
    font-size: 13px;
    padding: 40px;
    padding-top: 10px;
  }
}