*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #111;
    color:white;
    padding: 30px 20px;
}

.main{
    margin: 0 auto;
    width: 500px;
}

.btn{
    display:block;
    padding: 10px;
    border:1px solid rgb(216, 0, 0);
    border-radius: 5px;
    background-color: aqua;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}
.btn:hover{
  background-color: black;
  color: white;
}

.title{
    text-align: center;
}

.linka{
  text-decoration: none;
  color:white;
}

.modale {
    z-index: 1000;
    position: absolute ;
    background-image: url('https://thumbs.dreamstime.com/b/tarot-card-sun-jewelry-stars-magic-card-bohemian-design-tattoo-engraving-cover-witch-golden-mystical-hand-drawing-206626100.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid green;
    top:19%;
    right:36%;;
    width: 500px;
    height: 702px;
}

.animated{
    display: none;
}

.showed{
    display: block;
}


.flip-card {
    margin: 10px;
    background-color: transparent;
    width: 100%;
    height: 698px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image:url('https://thumbs.dreamstime.com/b/seamless-pattern-moon-face-phases-sun-crescent-zodiac-circle-comets-planets-stars-space-engraving-style-astrology-161868889.jpg');
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
  }

.images{
    width: 100%;
    height: 100%;
}

.CreateCarFileds{
    text-align: center;
}

.hid{
    display: none;
}

.sele{
  display:flex;
  justify-content: center;
}

.textHome{
  text-align: center;
}

@media screen and (max-width:600px){
  .main{
    width: 100%;
  }
  .modale{
    width: 100%;
    position: relative;
    right: 0;
    margin: 0 auto;
  }
}